{% extends 'bosai/base.html' %}
{% block content %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{shelter.name}}</li>
  </ol>
</nav>
<h2 class="display-5 text-primary">{{shelter.name}}</h2>
<div id="result"></div>
<div id="map"></div>
<div id='maintable'></div>

<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkpJxcjEx4Gfo2jkqKx9wFwwcXIh0-O8k&callback=initDetailMap&libraries=&v=weekly"
    async defer>
</script>
<script>
  let shs = [{
      id: {{shelter.id}}, name: "{{shelter.name}}", address: "{{shelter.address}}", lat: {{ shelter.hokui }}, lng: {{ shelter.tokei }},
      capacity: {{ shelter.capacity }}, tel: "{{shelter.tel}}", karteurl: "{{shelter.url}}", image: "{{shelter.image}}",
      durl: "{% url 'detail' shelter.id %}",
  },];
  setdata(shs);
</script>

{% endblock %}